/* .css - Alpine ACF */

/* DEBUG INFORMATION
   "#wrapper input" makes things red and ugly. This is to search for things that needs to be added/removed in this css.
   If you find that some button/input turns red, pleace see what needs to be changed in your code or in this css.
   When using the html.form[]() to create inputs/buttons/fields then everything should work just fine.
   When manually wringing a <input... or something like that, see if you need to add class='whatever' or something like it.
*/

#content input { /* DEBUG: Search for uncategorized buttons/inputs */
	background:	red;
}
.leader {
	border:		0px solid yellow;
}

.tailer {
	border:		0px solid magenta;
}

.hide {
	display:		none;
	}

a {
	text-decoration:none;
	color:		#072966;
}
a:visited {
	color:		#072966;
}
a:hover {
	color:		red;
}
input {
	border:		1px solid #ccc;
}
hr {
	background-color:	#ff9933;
	height: 		3px;
}
.error {
	height:		0px;
	font-size: 	11pt;
	font-weight: 	bold;
	color: 		#f33;
}
/* Positioning DIV's */
body {
	margin: 		0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	font-family: 		Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, Verdana, "Trebuchet MS", SunSans-Regular;
}

#header {
	width: 			770px;
	height: 		75px;
	margin: 		0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
}

#main {
	left: 			0px;
	top: 			0px;
	width: 			770px;
	padding: 		0px 0px 0px 0px;
	margin: 		11px 0px 0px 0px;
	background:	green;
}
#nav {
	width: 			180px;
	margin: 		0px 0px 0px 0px;
	background:		white;
	/*background:	blue;	*/
}
#subnav {
	position:		absolute;
	top:			100px;
	right:		0px;
	width: 			770px;
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
	xxbackground:	blue;
}
#content {
	position:		absolute;
	top: 			200px;
	left:			200px;
	width: 			560px;
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
	background:	yellow;
}

/*----------------------------------------------------------------------------------
 * Header, Logotypes and icons
 *----------------------------------------------------------------------------------
 */
#header {
	background-image: 	url(alpine.jpg);
	background-repeat: 	repeat-x;
	border: 		1px solid #ddd;
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
}
#header .tailer {
	background-image: 	url(shadow-top.png);
	background-repeat: 	repeat-x;
	height:			10px;
	margin: 		10px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
}

#header h1 {
	font-size:		40px;
	padding: 		0px 0px 0px 10px;
	margin: 		0px 0px 0px 0px;
}
#header p {
	text-align:		left;
	color: 			#777;
	font-size:		12px;
	padding: 		3px 0px 0px 10px;
	margin: 		0px 0px 0px 0px;
}

/*----------------------------------------------------------------------------------
 * navigation
 *----------------------------------------------------------------------------------
 */
#nav { /* 'nav' is only the main menu */
	padding: 		0px 10px 0px 0px;
	background-image: 	url(shadow-side.png);
	background-repeat: 	repeat-y;
	background-position: 	right;
}
#nav ul {
	list-style-type: 	none;
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
}
#nav ul li {
	color: 			white;
	font-size: 		16px;
	font-weight: 		bold;
	white-space: 		nowrap;
	overflow: 		hidden;
	background:		#6688AA;
	padding: 		0px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
}
#nav ul li ul {
	padding: 		5px 0px 0px 0px;
	margin: 		0px 0px 0px 0px;
}
#nav ul li ul li {
	font-weight: 		normal;
	font-size:		10pt;
	height: 		21px;
	white-space: 		nowrap;
	overflow: 		hidden;
	border-bottom: 		1px solid #cacaca;
	border-top: 		1px solid #ccc;
	background-image: 	url(menu_item.png);
}
#nav ul li ul li.selected {
	background: 	yellow;
}
#nav ul li ul li a {
	display: 		block;
	height:			21px;
	padding:		2px 0px 0px 5px;
}
#nav ul li ul li a:hover {
	background-image: 	url(menu_item_hover.png);
}
#nav ul li ul li.selected a:hover {
	background-image: 	none;
}



# ul li ul li a {
	height: 		21px;
	text-decoration:	none;
	font-size: 	14px;
/*	font-weight: 	bold; */
	white-space: 	nowrap;
	overflow: 	hidden;
	background:	white;
	padding-top: 	-10px;
	margin-right: 	-10px;
}


#xnav li {
	padding-right: 	10px;
	margin-right: 	10px;
	border-left: 	1px solid #ddd;
}
#xnav ul li.menuitem {
	height: 		21px;
	text-decoration:	none;
	white-space: 	nowrap;
	overflow: 	hidden;
	border-bottom: 	1px solid #cacaca;
	border-top: 	1px solid #ccc;
	background-image: 	url(menu_item.png);
}
#xnav ul li.last {
	background-image: 	url(shadow-top.png);
	background-repeat: 	repeat-x;
	padding-bottom:	5px;
}
#xnav ul li a {
	display: 		block;
	height:		21px;
	padding:		3px 0px 0px 5px;
}
#xnav ul li.menuitem a:hover {
	color: 		#5c7b99;
	color: 		black;
	height: 		21px;
	padding-right: 	-10px;
	margin-right: 	-10px;
	background-image: 	url(menu_item_hover.png);
}
#xnav ul li.current a:hover {
	text-decoration: 	underline;
}
#xnav .current a {
	color: 		red;
}
#xnav li.current, #nav li.current a { /* active item */
	height: 		21px;
	text-decoration:	none;
	font-size: 	14px;
	font-weight: 	bold;
	white-space: 	nowrap;
	overflow: 	hidden;
	background:	white;
	padding-right: 	-10px;
	margin-right: 	-10px;
}

