/*----------------------------------------------------------------------------------
 * Submenu ( Horizontal Tabs)
 *----------------------------------------------------------------------------------
 */
#submenu {
	width: 75%;
	font-size: 90%;
//	font-weight: Bold;
// 	display: inline;
	float: right;
	margin: 0em 2em 0em 0em;
	background: #fff url(/static/greypx.gif) repeat-x bottom left;
	}
	
#submenu p {
	display: inline;
	color: #22c;
	font-size: 161%;
	font-weight: light;
	margin: 2em 0em -2em 0em;
	}

#submenu ul {
	list-style: none;
	display: inline;
	margin: 0em 1em 0em 1em;
	padding: 0em 3em .6em 2em;
	float: right;
	}

#submenu li {
	display: inline;
	border: 1px solid #ccc;
	padding: .5em 1em .5em 1em;
	margin: 0em 0em 0em 0em;
	border-bottom: none;
	background: #f8f8f8;
	background: transparent url("/static/unselected.gif") repeat-x top left;
	}

#submenu #selected {
	// background: #fff url("/static/selected.gif") repeat-x top left;
	background: #fff;
	}

#submenu a {
	} 

#submenu a:hover {
	color: #c22;
	}

