/* webconf.css - For Alpine webconf
 */

/* Default definitions */
body {
	position: 	absolute;
	font-family: 	Geneva, Arial, Helvetica, San-Serif;
	margin: 		0px;
	padding: 		0px;
	font-size: 	small;
	width:		100%;
	}

p {
	margin: 		0px 0px0px 0empx
	}

a {
	text-decoration: 	none;
	color: 		#333;
	}

a:link { color: 		#226;
	}

a:visited {	
	color: 		#226;
	}

a:hover {
	color: 		#44C;
	}

a:active {
	}

pre.code {
	border: 		1px solid #666;
	background: 	#f8f8f8;
	padding: 		.5em;
}
.hide {
	display:			none;
}

/* -----------------------------------------------------------------------------------------------
   PAGE
   -----------------------------------------------------------------------------------------------*/
#page { 
	width:		100%;
}

/*----------------------------------------------------------------------------------
 * Header
 *----------------------------------------------------------------------------------
 */
#header {
	margin: 		0px;
	padding:		0px;
	width:		100%;
	height:		143px;
	background: 	transparent url("header_body.jpg") no-repeat 5px 5px;
}

#header p {
	position:	absolute;
	right: 		10px;
	top:		110px;
	margin: 0px;
	padding: 0px;
	}
#header h1 {
	position:	absolute;
	left: 		200px;
	top:		55px;
}
#header #logo {
	position:		absolute;
	top:		5px;
	left: 		200px;
	margin-right:	2px;
	font-size:	40px;
}

/*----------------------------------------------------------------------------------
 * Crumbs (Historylinks)
 *----------------------------------------------------------------------------------
 */

#main .postnav h2 {
	position: 		absolute;
	top:			110px;
	left:			200px;
	color: 			black;
	font-size: 		16px;
	font-weight: 		bold;
	white-space: 		nowrap;
	overflow: 		hidden;
	padding: 			0px;
	margin: 			0px;
}
#main .postnav p {
	position: 		absolute;
	top:			80px;
	left:			0px;
	width:			755px;
	color: 			#999;
	font-size: 		11px;
	font-weight:		verdana, arial;
	font-weight: 		bold;
	white-space: 		nowrap;
	overflow: 		hidden;
	background:		transparent;
	padding: 			0px 5px 0px 10px;
	margin: 			0px 0px 0px 0px;
/*	background:	blue;	*/
}


/*----------------------------------------------------------------------------------
 * Submenu ( Horizontal Tabs)
 *----------------------------------------------------------------------------------
 */
#subnav {
	position:		absolute;
	top:		74px;
	right:		50px;
	margin: 		0px 20px 0px 0px;
	padding: 		0px;

}
#subnav a {
	background: 	transparent;
	display: 		block;
	float: 		left;
	font-weight: 	Bold;
	font-size: 	10pt;
	color: 		#24a;
	margin: 		0px;
	height: 		15px;
	padding: 		7px 7px;
	border: 		3px #57b solid;
	border-bottom: 	none;
	}
#subnav a.selected {
	background: 	white;
	margin: 		0px;
	padding: 		7px 7px;
	border-bottom: 	none;
	}
#subnav a:hover {
	text-decoration: 	underline;
	}


/*----------------------------------------------------------------------------------
 * Left (Main) Menu
 *----------------------------------------------------------------------------------
 */
#nav {
	float: 		left;
	background: 	#eee;
	width: 		180px;
	padding: 		5px 0px 5px 10px;
	border: 		1px #57b solid;
	border-right: 	none;
	}

#nav ul {
	padding: 		2px;
	margin: 		2px 0px 0px 0px;
	}
#nav li {
	padding: 		5px 0px 0px 0px;
	margin: 		5px 0px 0px 0px;
	}

#nav ul li {
	color: 		#448;
	font-weight: 	normal;
	font-size: 	138%;
	margin: 		0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	list-style-type: 	none;
	}


#nav a {
	margin:		0px 0px 0px 0px;
	padding:		0px 0px 0px 0px;
	font-size:	12px;	
	display: 		block;
	text-decoration: 	underline;
	}
#nav a:hover {
	display: 		block;
	text-decoration: 	underline;
	}

	 
#nav .selected {
	background-color:	#fff;
	border: 		1px #57b solid;
	border-right: 	none;
	font-weight: 	Bold;
	color: 		#24a;
	}
	


/*----------------------------------------------------------------------------------
 * Content
 *----------------------------------------------------------------------------------
 */

#content {
	width: 		600px;
	float:		left;
	color: 		#333;
	padding: 		0px 10px 0px 10px;
	}

#content h1 {
	font-size: 	120%;
	text-align: 	left;
	margin: 		0px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	background-color: 	#e0e0e0;
	border-bottom: 	2px solid #aaa;
	}
 
#content h2 {
	font-size: 	100%;
	margin: 		10px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	background-color: 	#e0e0e0;
	border-bottom: 	1px solid #aaa;
	clear: 		both;
	}

#content h3 {
	font-size: 	85%;
	margin: 		10px 0px 0px 0px;
	padding: 		0px 0px 0px 0px;
	background-color:	#e6e6ff;
	border-bottom:	1px solid #aaa;
	clear:		both;
	}	

#content p {
	clear:		both;
	}

#content p.error {
	font-size:	120%;
	font-weight:	bold;
	background-color:	#eee;
	color:		#f44;
	}

#content p.warn {
	background-color:	#cc4;
        }

#content p.ok {
	font-size:	120%;
	font-weight:	bold;
	color:		#090;
        }
                                                 
                                        
#content input.error {
	background-color:	#ffa;
	}	

#content th {
	font-weight:	inherit;
	color:		#228;
	background:	#eef;
	}
	
#content a {
	text-decoration:	underline;
	color:		#449;
	}
	
#content dl {
	margin:		0px;
	}
#content dt {
	background-color:	none;
	font-size:	110%;
	height:		20px;
	width:		200px;
	margin:		0px 0px 0px 0px;
	padding:		5px 0px 0px 0px;
	float:		left;
	border-top:	1px solid #ddd;
	/*border-top:	1px solid #ccc;*/
	clear:		both;
	font-weight:	bold;
	color:		#000;
	font-size:	10pt;
	}

#content dd {

	color:		#444;
	float:		left;
	margin:		0px 0px 0px 5px;
	padding:		5px 0px 0px 0px;
	font-weight: 	light;
	}
	
#content .grey {
	background-color: 	#eee;
	}


#content textarea {
	width: 		99%;
	height: 		300px;
	border-right: 	1px solid #cacaca;
	border-bottom: 	1px solid #cacaca;
}
#content form {
	display:		inline;
}

#content dd select {
	width: 		247px;
	border-right:	1px solid #cacaca;
	border-bottom:	1px solid #cacaca;
}

#content .submit {
	width: 		100px;
	border-right:	1px solid #cacaca;
	border-bottom:	1px solid #cacaca;
	background:	#eee;
}
#content dd .text {
	width: 		245px;
	border-right:	1px solid #cacaca;
	border-bottom:	1px solid #cacaca;
	background:	white;
}
#content table {
	width: 		99%;
}

/*----------------------------------------------------------------------------------
 * footer
 *----------------------------------------------------------------------------------
 */

#footer {
	clear: 		both;
	border-top:	1px solid #d6d6d6;
	position:		relative;
	width: 		100%;
	padding-top:	5px;
	margin-top:	15px;
	margin-bottom:	10px;
	font-size:	10px;
	text-align:	center;
	color: 		#aaa;
}
