/* .css - Alpine ACF */

/*----------------------------------------------------------------------------------
 * GENERAL
 *----------------------------------------------------------------------------------
 */

.hide {
	display:			none;
}

a {
	text-decoration:		none;
	color:				#072966;
}
a:visited {
	color:				#072966;
}
a:hover {
	text-decoration:		underline;
	color:				red;
}
input {
	border:				1px solid #ccc;
}
hr {
	background-color:			#ffffff;
	height: 				3px;
}
.error {
	font-weight: 			bold;
	font-style:			italic;
	color: 				#f33;
}
input.error,select.error,textarea.error {
	font-weight: 			normal;
	font-style:			normal;
}

.mute {
	color: 				#777;
}
pre {
	font-family:			monospace;
	font-size:			10pt;
	padding:			5px;
}
.header {
	background-color:			#F6F6FF;
	color:				#6BA0D2;
	padding:				5px;
	text-align:			left;
	font-weight: 			bold;
}
/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */
body {
	margin: 			0px;
	padding: 			0px;
	font-family: 			Helvetica, Geneva, Arial, SunSans-Regular, sans-serif, Verdana, "Trebuchet MS", SunSans-Regular;
	font-size:			12pt;
	background:	#EDEEF0;
}
#page { 

/*	FIXME: The static/watermark.jpg needs to be converted into transparent background instead of white background		*/
/*	background-image: 			url("/static/watermark.jpg"); */
	background-repeat: 			no-repeat;
	background-position:		205px 118px;
	min-height:			500px;
	padding:			0px;
	margin:				0px;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */
#header {
	width: 				100%;
	height: 			75px;
	background-image: 		url("/static/alpine.jpg");
	background-repeat: 		repeat-x;
	border-bottom: 			2px solid #7799BB;
}
#header p {
	float: 				right;
	font-size:			14px;
	margin-right: 			5px;
	margin-top: 			5px;
}

/*----------------------------------------------------------------------------------
 * PAGE > HEADER > LOGO
 *----------------------------------------------------------------------------------
 */
#logo h1 {
	position:			absolute;
	top:				5px;
	left: 				10px;
	font-size:			40px; 
}
#logo p {
	position:			absolute;
	top:				55px;
	left:				10px;
	font-size:			14px;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */
#main {
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
 */
#nav {
	border-right: 			2px solid #7799BB;
	border-bottom: 			2px solid #7799BB;
	float:				left;
	width: 				180px;
	padding:			5px;
	padding-right:			0px;
	background:	white;
}
#nav ul {
	list-style-type: 		none;
}
#nav ul li {
	font-size: 			16px;
	font-weight: 			bold;
	white-space: 			nowrap;
	overflow: 			hidden;
}
#nav ul li ul {
	margin-top:			2px;
	margin-bottom:			15px;
}
#nav ul li ul li {
	font-size:			10pt;
	font-weight: 			normal;
}
#nav ul li ul li.selected {
	font-weight:			bold;
	border: 			1px solid #7799BB;
	border-right: 			none;
	background:		#EDEEF0;
}
#nav ul li ul li a {
	padding-top:			2px;
	padding-bottom:			2px;
	display:			list-item;
	padding-left:			10px;
}
#nav ul li ul li a:hover {
}
#nav ul li ul li.selected a:hover {
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > POSTNAV
 *----------------------------------------------------------------------------------
 */
#postnav h2 {
	display: none;
}
#postnav p {
	display: none;
}
/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */
#subnav {
	position:			absolute;
	top:				55px;
	left:				200px;
 	padding-top: 			2px;
	margin-bottom:			10px;
}
#subnav a {
/*	height:				20px; */
/*	margin: 			0px 0px 5px 0px;
	padding: 			3px 5px 2px 5px; */
	padding:			5px;
	padding-bottom:			0px;
	margin-bottom:			50px;

	font-size:			12px;
/*	background-image: 		url(menu_item.png); */
	border: 			1px solid #7799BB;
	border-bottom: 			none;
	background:			white;
}

#subnav a.selected {
	border: 			2px solid #7799BB;
	border-bottom: 			none;
	font-weight:			bold;
	background:			#EDEEF0;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > CONTENT
 *----------------------------------------------------------------------------------
 */
#content {
	padding:			5px;
	margin-left:			200px;
}
#content h1,h2,h3,h4,h5 { 

	background-color:			#F6F6FF;
	color:				#6BA0D2;
	padding:				5px;
	text-align:			center;
	font-weight: 			bold;

/*	font-size:			120%; 
	font-variant:			small-caps;*/

/*	clear:				right;
	text-align:			center;
	white-space: 			nowrap;
	overflow: 			hidden;
	text-transform:			capitalize; */
}
#content h1 { 
/*	border-top: 			3px solid #7799BB;*/
	border-top:			2px solid #6BA0D2;
	font-size: 			18pt;
	text-transform:			uppercase; 
}
#content h2 { 
	border-top: 			1px solid #6BA0D2;
	font-size: 			14pt;
}
#content h3 { 
	border-top: 			1px dashed #6BA0D2;
	font-size: 			12pt;
}
/*

#content .descr {
	clear:	both;
}

#content .value {
	display: inline;
	padding-left: 200px;
}
*/
#content dl {
	display:			block;
}
#content dt {
	border-top: 			1px dashed #bbb;
	font-weight: 			bold;

/*	float: 			left;
	width: 			220px;
	font-size: 		12px;
	text-align:		left;
	font-weight:		bold;
	clear: 			left;
	margin-top:		1px;
	margin-left: 		0px;
	border-top:		1px solid #ddd;
	padding-left:		5px;
	padding-top:		5px;
	padding-bottom:		5px; */
}
#content dd {
	margin-left:		20px;
	padding-bottom:		5px;
/*	margin-top:		1px;
	clear: right;
	font-size: 		12px;
	margin-left: 		230px;
	padding-top:		5px;
	padding-bottom:		5px; */
}
/*
#content .tailer {
	clear: 			both;
	border-bottom:		3px solid #cacaca;
	margin-left: 		0px;
}
*/
#content .submit {
	width: 			100px;
	border-right:		1px solid #cacaca;
	border-bottom:		1px solid #cacaca;
	background:		#eee;
}
#content table {
	border-top:		1px solid #cacaca;
}
#content textarea {
	border-right: 		1px solid #cacaca;
	border-bottom: 		1px solid #cacaca;
}
#content table input.text,table select,table textarea,table input.password, textarea {
	width:			99%;
}

#content dd input.text ,dd select,dd textarea,dd input.password {
	width:			500px;
}
#content p,table,hr {
	width:			100%;
}
#content p {
	margin:			7px;
	margin-left:		0px;
	margin-right:		0px;
}

#content p.descr {
/* margin-left:		20px; */
	display: inline;
	width:	auto;
}
#content textarea {
	height:			300px;
}
#content dd textarea {
	height:			100px;
}

/*----------------------------------------------------------------------------------
 * PAGE > FOOTER
 *----------------------------------------------------------------------------------
 */

#footer {
/* float: right; */
	margin-top:		20px;
	margin-left: 		200px;
	margin-right: 		10px;
	padding:			5px;
/*	clear: both; */
	text-align:		center; 
	border-top:		1px solid #d6d6d6;
	font-size:		10px;
	color: 			#aaa;

/*	position:			relative;
	clear: 			both;
	width: 			100%;
	padding:			5px 0px 5px 0px;
	margin:			15px 0px 0px 10px; */
}

