/* "Snow" - a css for Alpine Configuration Framework - 
 * N. Angelacos 2007 - GPL2 */


/* 
 * -----------------------------------------------------------------------
 * Debug Definitons
 * -----------------------------------------------------------------------
 */

/* 
 * -----------------------------------------------------------------------
 * General Definitons
 * -----------------------------------------------------------------------
 */

.hide	{
	display:		none;
	}

a, a:visited {
	text-decoration:	underline;
	color:			#072966;
	}

a:hover	{
	background-color:	#4871b3;
	color:			#fff;
	}


body 	{
	background:	url("/static/alpine.jpg") no-repeat;
	background-position:	top center;
	font-family:	Arial, "Trebuchet MS",Geneva, Helvetica,  sans-serif;
	font-size:	90%;
	width:		100%;
	}


.leader {
	float:		left;
	height:		0;
	clear:		both;
	}

.tailer {
	float:		left;
	height:		0;
	clear:		both;
	}
/*--------------------------------------------------------------------------------*/
#page 	{ 
	position:	relative;
	}

/*--------------------------------------------------------------------------------*/
#header {
	position: 	relative;
	width:		100%;
	}


#header .mute {
	display:	inline;
	float:		right;
	font-size:      80%;
	margin:		8px 32px 0 0;
	font-weight:	bold;
	}

#header .leader {
	display:	none;
	}

#header .tailer {
	clear: 		both;
	width: 		100%;
	background:	url("snowcap.gif") repeat-x; 
	display:	block;
	height: 	16px;
	}


/*--------------------------------------------------------------------------------*/

#logo {
	float:		left;
	width:		30%;
	height:		70px;
	display:	inline;
	margin:		.25em;
	background:	url("logo-190x64.png") no-repeat;
	}

#logo .leader {
	display:	none;
	height:		0;
	}

#logo .tailer {
	display:	none;
	height:		0px;
	}

#logo h1 {
	font-size:	200%;
	display:	none;
	}

#logo p {
	position:	absolute;
	bottom:		8px;
	left:		.25em;
	font-size:	100%;
	}


/*--------------------------------------------------------------------------------*/
/* The .nav class is taken from suckerfish css dropdowns 
   see http: http://www.alistapart.com/articles/dropdowns */

#nav {
	float:			right;
	display:		inline;
	background-color:	#ccc;
	width:			100%;
	line-height:		1;
	}	

#nav ul {
        margin-right:		20em;
	list-style: 		none;
	float:			right;
	}

#nav li { /* all list items */
        float: 			left;
	padding: 		0em 1em 2px 0;
	text-decoration:	underline;
	color:                  #072966;
	font-size:		125%;
	}

#nav  li ul { /* second-level lists - hidden */
	position: 		absolute; 
        width: 			20em;
	left:			-999em;
	}

#nav li ul ul { /* third-and-above-level lists */
       margin: 			-1em 0 0 20em;
		}

#nav li ul li {
	border: none;
	font-size:		65%;
	}

#nav li:hover ul ul {
        left: -999em; 
	}

#nav li:hover ul  { /* lists nested under hovered list items */
        left: 		auto;
	clear:		none;
	background:	#ccc;
	border-left: 	1px solid #ccf;
	border-top: 	1px solid #aaa;
	border-bottom: 	1px solid #ccf;
	}

#nav a {
	display:	block;
	padding: 	2px;
	width: 		19em;
	}	


/* End suckerfish */

/*--------------------------------------------------------------------------------*/
#main 	{ 
	clear:		both;
	position:	relative;
	display:	block;
	margin:		0;
	border:		0;
	width:		100%;
	}

/*--------------------------------------------------------------------------------*/
#postnav {
	display:	block;
	clear:		both;
	font-size:	75%;
	color:		#248;
	margin:		0 10%;
	}

#postnav h2 {
	font-size:	200%;
	line-height:	200%;
	}

#postnav .tailer {
	clear:		both;
	display:	block;
	}



/*--------------------------------------------------------------------------------*/
#subnav {
	margin:		0 10%;
	font-weight: 	bold;
	clear:		both;
	line-height: 	1;
	}

#subnav a {
	display: 		inline;
	padding: 		.25em .25em 0 .25em;
	border: 		1px solid #ccccff;
	border-bottom: 		none;
	background: 		url("blutop.png") repeat-x top;
	color: 			#fff;
	background-color: 	#aaa;
	text-decoration:	none;
	}
/*

#subnav a:hover {
	color: #666;
	background-color: #ddd;
	}
*/

#subnav .selected {
	background:	transparent;
	color:		#248;
	}

/*--------------------------------------------------------------------------------*/

#content {
	margin:		0 10% 0 10%;
	padding: 	2em 2em;
	border: 	1px solid #ccc;
	background: url("icicles.gif") no-repeat 200% 0;
	font-size:	80%;
	line-height:	1.5;
	
	}

#content h1 {
	display:	block;
	font-size:	200%;
	background:	#ccc;
	}
#content h2 {
	font-size:	150%;
	display:	block;
	background:	#ccc;
	clear:		both;
	}
/*
 #content dt {
	display:	block;
	clear:		right;
	font-size:	120%
	font-weight:	bold;
	} */


#content dd {
	width:		70%;
	display:	inline;
	float:		right;
	background:	#eee;
	<!--[if ie]>
		width: 100%;
	 	margin:	0 0 0 30%;
	<![endif-->
}


#footer {
	clear: 		both;
	border-top:	1px solid #d6d6d6;
	position:		relative;
	padding-top:	5px;
	margin-top:	15px;
	margin-bottom:	10px;
	font-size:	10px;
	text-align:	left;
	color: 		#aaa;
}

