/* -----------------------------------------------------------------------------------------------
   GENERAL
   -----------------------------------------------------------------------------------------------*/
a {
	color:		white;
}
a:visited {
	color:		white;
}
a:hover {
	color:		red;
}
h1 {
	background:	#755;
}
h2 {
	background:	#866;
}
h3 {
	background:	#977;
}
select, textarea {
	width:		600px;
}
textarea {
	height:		100px;
}
/* -----------------------------------------------------------------------------------------------
   BODY
   -----------------------------------------------------------------------------------------------*/
body { 
	background:	black;
	font-family:	arial,verdana;
	color:		white;
}

/* -----------------------------------------------------------------------------------------------
   PAGE
   -----------------------------------------------------------------------------------------------*/
#page { 
	background:	#333;
}

/* -----------------------------------------------------------------------------------------------
   HEADER (and its components)
   -----------------------------------------------------------------------------------------------*/
#header {
	background:	#444;
}
#header #version {
	background:	#555;
	font-size:	12px;
}
#header ul#metanav {
	background:	#666;
}
#header ul#metanav li {
	display: 		inline;
}

/* -----------------------------------------------------------------------------------------------
   CONTENT (and its components)
   -----------------------------------------------------------------------------------------------*/
#main { /* 'content' is both the wrapper and the navmenu */
	background:	#445;
}

#nav { /* 'nav' is only the main menu */
	float:		left;
	width: 		200px;
	background:	#556;
}
#nav ul {
}
#nav li {
}
#nav ul li.category {
	font-weight: 	bold;
	background:	#667;
}
#nav ul li.menuitem {
	list-style-type: 	none;
}
#nav ul li.current {
	list-style-type: 	none;
	background:	#99A;
}
#nav ul li.last {
	list-style-type: 	none;
}
#content { /* 'wrapper' is the area where you display the interesting things */
	float: 		left;
	width:		800px;
	background: 	#676;
	font-size:	14px;
}
/* FOOTER */
#footer {
	clear: 		both;
	background:	#898;
}

